* {
	font-family: sans-serif;
}
.sidebar {
	background-color: navy;
	color: white;
	padding: 20px;
	width: 20%;
}
.main {
	background-color: lightgrey;
	padding: 20px;
	width: 80%
}
header { 

}
i {
	font-size: 20px !important;
}
a {
	color: white;
}
.message {
	height: 75px;
}	
form {
	background-color: grey;
	padding: 5px;
	margin-top: 30px;
	color: navy;
	line-height: 20px;
	border-radius: 10px;
	font-weight: bold;
}
#message {
	text-align: center;
}
.submit {
	background-color: navy;
	color: white;
	font-family: sans-serif;
	margin: 3px;
}