
.body {
	display: flex;
	justify-content: center;
}
.navbar {
	padding-right: 5rem;
	padding-left: 5rem;
}
.jumbotron {
	padding-right: 5rem;
	padding-left: 5rem;
}
.cards {
	padding-right: 5rem;
	padding-left: 5rem;
	display: flex;
}
.card {

	border-style: none;
	
}
.card-body {
	
	padding-left: 0px;
}
.pe9 {
	color: grey;
}