body {
    width: 85%;
    margin: auto;

}


.contentblock {
    padding: 20px;
}


#profilepic {
    width: 150px;
}


#cardsowned { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    
}


#cardsforsale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: grey;
}


.player_card {

    width: 250px;
    height: 370px;
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(to bottom right, silver, lightblue);
    border: navy 10px solid;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(150, 150, 150, 0.3);
}


.playername {
    color: indigo;
}


.infolist {
    margin-left: -25px;
}

.offersreceived {
    background-color: indianred;
    
}


.cardforsale {
    background-color: lawngreen;
}


.cardoffers {
    display: flex;
    flex-direction: row;
}


.mycardbuttons {
    display: flex;
    flex-direction: row;
}

.offer-sale-pair {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.user-profile {
    display: flex;
    flex-direction: row;
}

.user-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 10px;
}