<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Products</h1>
	<ol>
	{% for product in products %}
	<li>{{product[0]}} {{product[1]}}</li>
	{% endfor %}
	</ol>
	{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message in messages %}

            <p style="color:{{category}};">{{message}}</p>

        {% endfor %}
    {% endif %}
	{% endwith %}
	<hr>
	<h3>Add a product</h3>
	<form method="POST" action="{{url_for('add_product')}}">
		<p>Name: <input type="text" name="name"></p>
		<p>Price: <input type="number" name="price"></p>
		<p>Category: <input type="text" name="category"></p>
		<p>Stock: <input type="number" name="stock"></p>
		<p><input type="submit" name="btn_submit"></p>
	</form>

</body>
</html>