{% extends 'partials/base.html' %}

{% block content %}
<h1>MY OFFERS</h1>


    {% for offer in user.profile.bids.all %}
    <div class="offer-sale-pair">   
        <div class="cardoffered">
            <h2>Offered:</h2>
            <div class="player_card">
                <div>
                    <h3 class="playername">{{offer.card.name}}</h3>
                </div>
                <ul style="list-style-type: none;" class="infolist">
                    <li>Position: {{offer.card.position}}</li>
                    <li>Team: {{offer.card.team.name}}</li>
                    <li>Jersey #: {{offer.card.jersey_number}}</li>
                    <li>Height: {{offer.card.height_ft}}ft, {{offer.card.height_in}}in</li>
                    <li>Weight: {{offer.card.weight}}</li>
                    <li>Bats: {{offer.card.bats}}</li>
                    <li>Throws: {{offer.card.throws}}</li>
                    <li>Birth Day: {{offer.card.birth_date}}</li>
                    <li>Player ID: {{offer.card.player_id}}</li>
                </ul>
            
                <a href="{% url 'deleteoffer' bid_id=offer.id %}"><h4 class="deleteofferbutton">RETRACT OFFER</h4></a>
                

            </div>
        </div>



        <div class="salesbidon">
            <h2>For:</h2>
            
            <div class="player_card">
                <div>
                    <h3 class="playername">{{offer.sale.card.name}}</h3>
                </div>

                <ul style="list-style-type: none;" class="infolist">
                    <li>Position: {{offer.sale.card.position}}</li>
                    <li>Team: {{offer.sale.card.team.name}}</li>
                    <li>Jersey #: {{offer.sale.card.jersey_number}}</li>
                    <li>Height: {{offer.sale.card.height_ft}}ft, {{offer.sale.card.height_in}}in</li>
                    <li>Weight: {{offer.sale.card.weight}}</li>
                    <li>Bats: {{offer.sale.card.bats}}</li>
                    <li>Throws: {{offer.sale.card.throws}}</li>
                    <li>Birth Day: {{offer.sale.card.birth_date}}</li>
                    <li>Player ID: {{offer.sale.card.player_id}}</li>
                </ul>
            
                
            </div>
            Seller: User: {{offer.sale.profile.user.username}}    
            
        </div>
    </div> 
    {% endfor %}


{% endblock %}